<div class="relative rounded-lg max-w-[200px]">
  <img class="rounded mr-4 w-[100px]" src=<%= "/images/love_letter/characters/#{player.metadata[:profile_picture]}" %> />
  <div class="absolute bottom-[5px] text-xs bg-primary px-2 py-0.5 text-white"><%= player.name %></div>
</div>