<div class="container mx-auto flex flex-col">
  <div>Show players</div>
  <div>Show deck</div>
  <div class="flex flex-row">
    <% @cards.each do |card| %>
      <%= render "love_letter/card", card: %>
    <% end %>
  </div>
</div>